/* id 選擇器 */
#text-effect{ font-weight : bold ; } 




/* 標籤選擇器 */


body{background-color:	#212529; color: rgb(221, 218, 214);}
/*
span{background-color:rgb(214, 211, 34);} 
後來有其他span需要做不同應用，便取消使用標籤選擇器了。
*/ 




ul{
    display:block;
    margin-top: 50px;
    margin-left: 50px;
    
    margin-block-start: 1em;
    margin-block-end: 1em;

    font-size: 25px;
}

/* class選擇器 */
.deep{background-color:	#1d4230; color: #FFFFFF;}
.underline{text-decoration:underline;}


.top{ /*完美置中，如果有再分區塊內文字的話記得是要去調區塊內文字的設定*/
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight : bold ; font-size : 30px;
    margin-bottom: 20px;
    margin-top: 20px;
}



.Q1{ /*只是很純的水平排列容器，看看有無需要分開寫*/
    display: flex ;
    justify-content: center;
    align-items: center;
}

.Q2{
    display: flex ;
    justify-content: start;
}

.square-1{
    height: 300px;
    width: 40%;
    /*max-width: 100%;*/
    flex:none;
    background-color: rgb(205, 112, 50);
    margin-top: 50px;
    margin-bottom: 10px;
    margin-left: 50px;
    
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;

    display:  flex;
    align-items: center;
    justify-content:  center;

    /*text-align: center;*/
    color: rgb(0, 0, 0);
    font-weight : bold ; font-size : 25px;
    
}



.content-1{
    
    
    /*flex: auto;*/
    
    width: 1000px;
    margin-left: 50px;
    margin-right: 20px;
    padding-top: 50px;
    word-wrap: break-word;
}



.square-2{
    height: 500px;
    width: 40%;
    flex:none;
    background-color: #EEEEEE;
    max-width: 100%;
    margin-top: 50px;
    margin-bottom: 10px;
    margin-left: 50px;

    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;


    display:  flex;
    align-items: center;
    justify-content:  center;
    text-align: center;
    

    color: #000;
    font-weight : bold ; font-size : 25px;

}


.content-2{
    margin-top: 70px;
    margin-left: 50px;
    margin-right: 20px;
    

}


.square-3{
    height: 500px;
    width: 40%;
    flex:none;
    
    margin-top: 50px;
    margin-left:50px;
    background-color:rgb(244, 214, 41);

    display:  flex;
    align-items: center;
    justify-content:  center;
    text-align: center;

    color: #000;
    font-weight : bold ; font-size : 25px;

}



.content-3{
    margin-top: 70px;
    margin-left:50px;
    margin-right:20px;
    word-wrap: break-word;
    
}


.table{
    margin-right: 100px;
    align-items: left;
    text-align: left;
    display: inline-block;

}


/*
計算圓餅圖所需

時間	內容
9:00~12:00	學習  3hr
12:00~13:30	午餐  1hr
13:30~17:00	學習  5.5hr
17:00~18:00	運動  1hr
18:00~19:30	晚餐  1.5hr
19:30~22:00	學習  2.5hr
22:00~22:30	洗澡+做家事  0.5hr
22:30~	休息，視情況繼續研究  1.5hr
睡覺 9hr



*/

.pie { /*純底*/
    margin-top:50px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: rgb(43, 64, 98);

    position: relative;
    overflow: hidden;
    
    
    
}


/*
這是之前查的覆蓋型要做動畫會比較適合的方法
.pie::before { 午餐 
    content: '';
    display: block;
    margin-left: 50%;
    height: 100%;
    border-radius: 0 100% 100% 0 / 50%;
    background-color: inherit;
    transform-origin: left;
    transform: rotate(45deg);

}
*/

.for-pie{
    position: absolute;
    top:0;
    right:0;
    width:50%;
    height:50%;
    transform-origin: 0 100%;
    overflow: none;
    

}


.part-1 { /*午餐*/
    transform: rotate(0deg) skewY(-60deg);
    background-color: rgb(244, 214, 41);
    
}

/*
預設-90deg = 0 度
-80deg = 10 度 = 2%
或是考慮時間的大概跨度分配，
一小時是30度。

skewY是顯示的占比範圍，算法是占用時間hr*30，
再用90-結果 = skewY(要的deg)

rotate角度起始(0deg)是正12:00，依剛才算的: 占用時間hr*30
持續從0度開始累加上去。

*/

.part-2{ /*學習*/
    transform: rotate(50deg) skewX(-160deg) scale(1.5); /*有再加scale來填滿覆蓋區塊*/
    background-color: rgb(205, 112, 50);


}

.part-3{ /*運動*/
    transform: rotate(140deg) skewY(-60deg);
    background-color: #EEEEEE;

}

.part-4{ /*晚餐*/
    transform: rotate(170deg) skewY(-45deg);
    background-color: rgb(244, 214, 41);

}

.part-5{ /*學習*/
    transform: rotate(215deg) skewY(25deg) scale(1.5); /*記得加scale*/
    background-color: rgb(205, 112, 50);

}






.square-4{
    height:350px;
    width:40%;
    flex:none;

    background-color: #37578b;
    margin-top: 50px;
    margin-left: 50px;

    display:  flex;
    align-items: center;
    justify-content:  center;
    text-align: center;

    color: #000;
    font-weight : bold ; font-size : 25px;

}




.content-4{
    margin-left: 50px;
    margin-right: 20px;
    margin-top: 70px;
    word-wrap: break-word;
    
}



.square-5{
    height: 300px;
    width:40%;
    flex:none;
    background-color: rgb(205, 112, 50);
    margin-top: 50px;
    margin-left: 0px;

    display:  flex;
    align-items: center;
    justify-content:  center;
    text-align: center;

    color: #000;
    font-weight : bold ; font-size : 25px;
    
}


.content-5{
    margin-top: 70px;
    margin-left: 50px;
    margin-right: 0px;
    margin-bottom:10px;
    line-height:20px;
    word-wrap: break-word;
}



.circle-1{
    width:180px;height:180px; /*正圓形，所以寬與高都設一樣*/

    border-radius:999em;

    background-color:rgb(205, 112, 50);
    color: #000;


    justify-content: center;
    align-items: center;
    
    text-align: center;
   
}

.circle-2{
    width:180px;height:180px; /*正圓形，所以寬與高都設一樣*/

    border-radius:999em;

    background-color:rgb(244, 214, 41);
    color: #000;


    justify-content: center;
    align-items: center;
    
    text-align: center;
   
}

.circle-3{
    width:180px;height:180px; /*正圓形，所以寬與高都設一樣*/

    border-radius:999em;

    background-color:#37578b;
    color: #000;


    justify-content: center;
    align-items: center;
    
    text-align: center;
   
}

.circle-4{
    width:180px;height:180px; /*正圓形，所以寬與高都設一樣*/

    border-radius:999em;

    background-color:#EEEEEE;
    color: #000;


    justify-content: center;
    align-items: center;
    
    text-align: center;
   
}


.step{
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 50px;
    



}

.step-title{
    line-height:180px;
    
    /*text-shadow: 2px 2px 6px rgb(82, 82, 82);*/
    font-weight : bold ; font-size : 30px;
    
    
}




.step-detail{
    margin-left: 50px;
    margin-top: 50px;
    font-size: 30px;
    line-height: 40px;
    

}

.step-detail-title{
    font-size: 30px;
    font-weight : bold ;
    margin-left: 90px;
    margin-right: 150px;
    margin-top: 50px;
    padding-bottom: 20px;
    border-bottom: 2px solid rgb(250, 250, 250)
    
}


.excel{
    background-color: #1d4230;

    height:100px;
    width: 200px;
    margin:10px 100px;
    text-align: center;


}

.excel-text{
    line-height:100px;
    font-weight : bold ;
}

.S{
    background-color: #29668f;

    height:100px;
    width: 200px;
    margin:10px 100px;
    text-align: center;

}

.for-table{
    margin:10px 100px;
}

.step-describe{
    text-align: left;
}


.square-6{
    height:300px;
    width: 40%;
    flex:none;
    background-color: #37578b;
    margin-top: 50px;
    margin-left: 60px;
    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;

}


.square-6-text{
    
    text-align: center;
    /*margin-top: 120px;*/
    font-weight : bold ; font-size : 25px;
    color: #000;
}



.content-6{
    display: block;
    width:1000px;
    margin-top: 80px;
    margin-right:20px;
    margin-left:60px;
    
    word-wrap: break-word;
   
}


.square-7{
    height:300px;
    width:40%;
    flex:none;
    margin-top: 50px;
    background-color:rgb(205, 112, 50);
    margin-left:60px;


    display:  flex;
    align-items: center;
    justify-content:  center;
    text-align: center;

    color: #000;
    font-weight : bold ; font-size : 25px;
}


.content-7{
    display: block;
    width:850px;
    margin-top: 70px;
    margin-right:20px;
    margin-left:60px;
    word-wrap: break-word;
    
    
    
}


.square-8{
    height:350px;
    width:40%;
    flex:none;
    margin-top: 50px;
    background-color:rgb(255, 255, 255);
    margin-left:60px;
    margin-bottom:50px;


    display:  flex;
    align-items: center;
    justify-content:  center;
    text-align: center;

    color: #000;
    font-weight : bold ; font-size : 25px;
}


.content-8{
    display: block;
    width:850px;
    margin-top: 30px;
    margin-right:20px;
    margin-left:60px;
    word-wrap: break-word;
    

}




.PC{
    display: block;
}

.mobile{
    display:block;
}

/*RWD*/



@media (max-width:1250px){
    /*螢幕寬度小於1250的，套用這個css，通常這是平板*/

    
}




@media (max-width:500px){
    /*手機用排版 只要螢幕寬度是小於500px的，
    就套用這個CSS*/

    
    .Q1{flex-wrap: wrap;}
    .Q2{flex-wrap: wrap;}

    
    .square-1{
        
        width: 80%;
        align-items: center;
        justify-content:  center;
        margin: 20px 0px;
        

        
    }
    .content-1{
        width: 80%;
        margin: 20px 0px;

    }

    .square-2{
        width:80%;
        height:300px;
        align-items: center;
        justify-content:  center;
        margin: 20px 0px;
        font-size: 18px;

    }

    .content-2{
        width:80%;
        margin: 20px 0px;

    }

    .square-3{
        width:80%;
        margin: 20px 0px; 
        height: 300px;
    }

    .content-3{
        width:80%;
        margin: 20px 0px;
    }

    .square-4{
        width:80%;
        margin: 30px 0px; 
        height: 300px;

    }

    .content-4{
        width:80%;
        margin: 20px 0px;
        align-items: center;
        justify-content:  center;


    }

    .square-5{
        width:80%;
        margin: 20px 0px;
        font-size: 20px;
        height: 300px;

    }

    .content-5{
        width:80%;
        margin: 20px 0px;
    }

    .step{
        margin: 20px 0px;

    }

    .step-detail{
        margin: 20px 0px;
    }

    .step-detail-title{
        margin: 20px 0px;
        text-align: center;
       
    }



    .excel{
        
        
        height:100px;
        
    

    }

    .s{
        margin: 0px 0px;
        
        height:100px;
        

    }

    .excel-text{
        font-size: 16px;
        align-items: center;
        justify-content:  center;
        text-align: center;
    }

    

    .for-table{
        margin: 20px 0px;
    }



    .step-describe{
        display: flex ;
        justify-content: start;
        margin: 20px 0px;
        width: 90%;
    }

    .square-6{
        width:80%;
        margin: 20px 0px;
        
    }

    .square-6-text{
        font-size: 20px;
    }

    .content-6{
        width:80%;
        margin: 20px 0px;
        
        justify-content: start;
        
    }

    .square-7{
        width:80%;
        margin: 20px 0px;
        font-size: 18px;

    }

    .content-7{
        width:80%;
        margin: 20px 0px;


    }

    .square-8{
        width:80%;
        margin: 20px 0px;
    }

    .content-8{
        width:80%;
        margin: 20px 0px;
    }


}

